.main__container {
  display: grid;
  grid-template-columns: 104px 3fr ;
}
.sitebar {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  background-color: $black-howl;
  padding-bottom: 20px;
}
.sitebar__links {
  padding-left: 24px;
}
.sitebar__links:nth-child(2) {
  padding-left: 0;
}
